@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #2563eb;
		border-radius: 100vh;
		border: 10px solid transparent;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #c0a0b9;
	}

	.dark-scroll::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	.dark-scroll::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: transparent;
	}

	.dark-scroll::-webkit-scrollbar-thumb {
		background: #059669;
		border-radius: 100vh;
		border: 10px solid transparent;
	}

	.dark-scroll::-webkit-scrollbar-thumb:hover {
		background: #c0a0b9;
	}

	.slate-scroll::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	.slate-scroll::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: transparent;
	}

	.slate-scroll::-webkit-scrollbar-thumb {
		background: #a0a8b2;
		border-radius: 100vh;
		border: 10px solid transparent;
	}

	.slate-scroll::-webkit-scrollbar-thumb:hover {
		background: #c0a0b9;
	}
}
